# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# IDE
.vs/
.idea/
*.csproj
*.sln
*.user
*.userprefs

# OS
.DS_Store
Thumbs.db

# Builds / exports / archives (your custom folders)
*_BUILD/
*BUILD*/
Build*/
build*/
AndroidBuild*/
Build_Android*/
ANDROID_BUILD/
*.zip
*.rar
*.7z

# temp / cache
.tmp/
*.tmp